:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}
header {
  text-align: center;
}
main {
  display: flex;
  justify-content: space-around;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: right;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin-bottom: 10px;
  font-size: 16px;
  background-color: rgb(223, 138, 184);
}
.start button {
  background-color: rgb(38, 160, 38);
}
.player1 {
  display: flex;
  position: fixed;
  left: 3rem;
}

.player2 {
  display: flex;
  position: fixed;
  right: 3rem;
}

.winner {
  display: flex;
  text-align: center;
}

.over {
  display: flex;
  justify-content: center;
}
.reset {
  display: flex;
  position: fixed;
  bottom: 4rem;
}

.hide {
  display: none;
}

.p1Image {
  width: 250px;
  height: auto;
}

.p2Image {
  width: 250px;
  height: auto;
}

.rules img {
  border-radius: 50px;
}
